---

export interface Props {
    title: string;
    page: string;
    suffix: string;
    description?: string;
    icon?: string;
}

const { title, page, suffix, description = "Learning to code? Well then Blockly Code is just for you! We have a drag and drop system to make coding fun and simple!", icon = "https://assets.blocklycode.org/favicon.png" } = Astro.props;


---
<head>
    <!--General Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content={title + " - " + suffix}>
    <meta name="description" content={description}>
    <meta name="keywords" content="Blockly, Code, Discord, Bot, Hosting, Discord Bot, Discord Hosting, Free, Coding, Lab">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="author" content={suffix + " - Blockly Code"}>
    <meta name="theme-color" content="#458fd9">
    <meta name="generator" content={Astro.generator} />
    
    <!-- Open Graph / Facebook -->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:url" content={Astro.request.url}>
    <meta property="og:site_name" content={suffix + " - Blockly Code"}>
    <meta property="og:title" content={title + " - " + suffix}>
    <meta property="og:description" content={description}>
    <meta property="og:image" content={icon}>
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content={Astro.request.url}>
    <meta property="twitter:title" content={title + " - " + suffix}>
    <meta property="twitter:description" content={description}>
    <meta property="twitter:image" content={icon}>
    
    <link rel="icon" href={icon}>
    <link rel="stylesheet" href="https://styles.blocklycode.org/global.css">
    <!-- <script src="https://scripts.blocklycode.org/global.js" crossorigin="anonymous"></script> -->
    <title>{title} {" - "} {suffix}</title>

    <slot />
</head>